<h1 class="mx-auto text-center">Select an option:</h1>

<div class="text-center my-4">
    <a href="/characters">
        <button type="button" class="btn btn-lg btn-primary">Characters</button>
    </a>
    <a href="/episodes">
        <button type="button" class="btn btn-lg btn-success">Episodes</button>
    </a>
    <a href="/quotes">
        <button type="button" class="btn btn-lg btn-info">Quotes</button>
    </a>
    <a href="/deaths">
        <button type="button" class="btn btn-lg btn-warning">Deaths</button>
    </a>
</div>