<h1 class="mx-auto text-center">Select an option:</h1>

<div class="text-center my-4">
    <button type="button" class="btn btn-primary">Characters</button>
    <button type="button" class="btn btn-success">Episodes</button>
    <button type="button" class="btn btn-info">Quotes</button>
    <button type="button" class="btn btn-warning">Deaths</button>
</div>